body, a
{
  background-color: #3b97e7;
  color: white;
  font-family: "Courier New";
  font-size: 30px;
}
h1
{
  	color: white;
  	font-family: "Impact";
  	font-size: 60px;
  	font-weight: bold;
}
